html, body { height:100%; margin:0; padding:0;}
body {
    margin:0;
    padding:0;
    min-height:100%;
    height:auto !important;
    height:100%;
    position:relative;
    font-size:14px;
    color:#696969;
    font-family:Arial, Helvetica, Tahoma;
    background:#fdfdfd;
    background: url(../images/body_bg.png) repeat-x;
}

body a {outline: none;border:none; color: #696969;}
body img {outline: none;border:none;}
body ul {margin:0;padding:0;}

.left {float:left;}
.right {float:right;}
.clear {clear:both;font-size:0; line-height:0;}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

/*-------------------------*/
/*--------- Header --------*/
/*-------------------------*/
.header_bg {
    width: 100%;
    height: 133px;
    background: url(../images/header_bg.png) repeat-x;
    position: relative;
}

.header {
    width: 821px;
    height: 133px;
    position: relative;
    margin: 0px auto;
}

.header .logo {
    padding-top: 3px;
}

.header_cart {
    margin-left: 120px;
    width: 239px;
    height: 73px;
    padding-top: 21px;
    color: #ffffff;
}

.header_cart h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 0 12px;
}

#headerCartData {
    margin: 18px 0 0 10px;
}

#cartContent {
    display: none;
    position: absolute;
    top: 34px;
    left: -143px;
    z-index: 1000;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    margin: 0;
    padding: 10px;
    background-color: #f6f6f6;
    min-width: 200px; 
    min-height: 24px;
    color: #696969;
}

input.show_cart {
    display: block;
    background: url(../images/btn_1.png) no-repeat center center;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 17px;
    margin: 16px 0 0 8px;
}

.total {
    margin: 0 18px 18px 0;
}

.checkout {
    margin: 0 0 12px 0;
}

.td_quantity {
    padding: 0 0 0 6px;
}

.td_remove {
    padding: 0 20px 0 20px;
}

.td_separator {
    padding: 0 6px 0 6px;
}

.td_name {
    min-width: 200px;
}

input.btn_search {
    display: block;
    background: url(../images/btn_search.png) no-repeat center center;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 3px 0 0 4px;
}

input.inp_search {
    border: 0px;
    height: 20px;
    width: 224px;
    margin: 3px 0 0 4px;
}

.separator_1 {
    padding-top: 48px;
    padding-left: 20px;
    background: url(../images/separator_1.png) no-repeat center center;
    width: 3px;
    height: 73px;
}

.search_wrapper {
    width: 258px;
    height: 73px;
    padding: 29px 0 0 0px;
}

.search {
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 100%;
    height: 26px;
}

.user_info {
    height: 63px;
    width: 100%;
    color: #ffffff;
    padding-top: 16px;
}

.user_info p {
    padding-top: 4px;
    margin: 0px;
}

.user_info p span {
    color: #ffec6b;
    font-weight: bold;
}

.user_info a {
    color: #ffffff;
}

/*-------------------------*/
/*-------- Content --------*/
/*-------------------------*/
.content_bg {
    width: 100%;
    min-height: 750px;
    background: url(../images/content_bg.png) no-repeat top center;
}

.content {
    width: 821px;
    position: relative;
    margin: 0px auto;
}

#notification {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.success {
    padding: 14px 0 4px 0;
    color: #2281ac;
}

.error {
    padding: 14px 0 4px 0;
    color: #2281ac;
}

.close {
    padding-left: 12px;
}

/*-------------------------*/
/*---------- Menu ---------*/
/*-------------------------*/
.menu {
    height: 57px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ea5002;
    width: 100%;
    margin-top: 10px;
    background: url(../images/menu_bg.png) repeat-x;
}

.menu .top_menu {
    padding: 14px 0 0 30px;
}

.menu .top_menu a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-top: 5px;
}

.menu .top_menu .delim_menu {
    padding: 0 14px 0 14px;
    width: 2px;
    height: 32px;
    background: url(../images/delim_menu.png) no-repeat top center;
    float: left;
}

/*-------------------------*/
/*--------- Center --------*/
/*-------------------------*/
.center {
    min-height: 679px;
    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
}

/*-------------------------*/
/*----- Left sidebar ------*/
/*-------------------------*/
.left_sidebar {
    padding: 14px 16px 14px 16px;
    width: 198px;
    overflow: hidden;
}

.left_block {
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    width: 100%;
    margin-bottom: 14px;
}

.left_block h1 {
    font-size: 20px;
    color: #2281ac;
    margin: 0px;
    padding: 18px 0 18px 20px;
}

.left_block ul {
    margin: 0px;
    list-style-type: square;
    padding: 0 0 4px 34px;
    color: #66b7e3;
}

.left_block ul li {
    padding : 0px 0 18px 0;
}

.left_block ul li a {
    color: #696969;
}

.left_block select {
    margin: 0px;
    margin: 0 0 14px 20px;
    border: 1px solid #dadada;
    width: 159px;
    height: 26px;
}

/*-------------------------*/
/*---------- Page ---------*/
/*-------------------------*/
.page {
    width: 575px;
}

.page h1 {
    font-size: 20px;
    color: #2281ac;
    margin: 0px;
    padding: 32px 0 24px 0;
}

.page h2 {
    font-size: 16px;
    color: #2281ac;
    margin: 0px;
    padding: 14px 0 12px 0;
}

.sort {
    margin: 10px 10px 0 0;
    padding: 0;   
}

.sel_sort {
    margin: 0px;
    margin: 0 0 14px 0px;
    border: 1px solid #dadada;
    width: 100px;
    height: 26px;
}

.pagins {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pagins a, .pagins span {
    font-size: 16px;
    margin-left: 6px;
}

.pag_back, .pag_forward {
    background-color: #7ca5f3;
    padding: 10px 12px;
    text-decoration: none;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
}

.items {
    width: 179px;
    height: 255px;
    background-color: #f6f6f6;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    float: left;
    padding-bottom: 6px;
    margin-bottom: 12px;
    margin-right: 12px;
}

.item_image {
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #e4e4e4;
    width: 151px;
    height: 125px;
    margin-top: 12px;
    margin-left: 12px;
}

.item_name {
    margin: 0px;
    padding: 16px 0 0 16px;
    overflow: hidden;
}

.item_price {
    margin: 0px;
    padding: 14px 0 0 16px;
    font-size: 16px;
    color: #4e80a9;
}

.price-old {
    text-decoration: line-through;
}

.price-new {
    color: #c74716;
}

input.btn_item {
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(../images/btn_bg.png) repeat-x;
    width: 155px;
    height: 30px;
    margin-top: 12px;
    margin-left: 12px;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.breadcrumb {
    padding-top: 18px;
    margin: 0;
}

.breadcrumb span {
    color: #66B7E3;
    padding: 0 8px 0 4px;
}

.category-info {

}

.category-info p {
    margin: 0;
    padding-bottom: 4px;
}

.category-info .descr {
    padding: 10px 0 0 20px;
    width: 388px;
}

.category-list {

}

.category-list ul {
    margin: 0px;
    list-style-type: square;
    padding: 0 0 4px 34px;
    color: #66b7e3;
}

.category-list ul li {
    padding : 0px 0 18px 0;
}

.category-list ul li a {
    color: #696969;
}

.product-compare {
    padding-bottom: 12px;
}

/*-------------------------*/
/*--------- Detail --------*/
/*-------------------------*/
.detail {}
.product_images {
    float: left;
}

.detail_big_img {
    width: 245px;
    height: 230px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #e4e4e4;
}

.product_thumbs {
    width: 252px;
    margin-top: 16px;
}

.product_thumbs a {
    float: left;
}

.product_thumb {
    width: 78px;
    height: 78px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #e4e4e4;
    margin-right: 2px;
    margin-bottom: 2px;
}

.detail .product_detail {
    padding: 0 20px 0 20px;
    float: left;
}

.detail .product_detail p {
    margin: 0;
    padding-bottom: 8px;
}

.detail .product_detail p span {
    color: #4e80a9;
    font-weight: bold;
}

.detail .product_detail .price {
    padding: 24px 5px 0 0;
}

.detail .product_detail .price p {
    padding: 8px 0 0 0;
}

.detail .product_detail .price .hh {
    color: #484848;
    font-weight: bold;
    font-size: 16px;
}

.detail .product_detail .price .txt {
    color: #4e80a9;
    font-weight: bold;
    font-size: 16px;
}

.detail .product_detail .qty {
    padding: 24px 0 0 0;
}

.detail .product_detail .qty span {
    font-size: 12px;
    padding: 4px 4px 0 0;
}

.detail .product_detail .qty input.txt {
    border: 1px solid #d9d9d9;
    width: 58px;
    height: 24px;
}

.detail .product_detail .qty input.btn {
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(../images/btn_bg.png) repeat-x;
    width: 130px;
    height: 30px;
    margin-top: -1px;
    margin-left: 12px;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.review {
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #f6f6f6;
    font-size: 12px;
    padding: 10px 12px 10px 12px;
    margin: 12px 0 12px 0;
    min-height: 17px;
}

.detail-price-old {
    text-decoration: line-through;
}

.detail-price-new {
    color: #c74716 !important;
}

.tab-content, .tags {
    background-color: #f6f6f6;
    width: 556px;
    min-height: 50px;
    padding: 10px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 0 8px 8px 8px;
    margin-bottom: 12px;
}

.htabs {
    margin: 24px 0 0 0;
    padding: 14px 0 14px 0;
}

a.ahtabs {
    padding: 14px 25px 14px 25px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 0 0;
    background-color: #e9e9e9;
    text-decoration: none;
}

a.ahtabs.selected {
    background-color: #f6f6f6;
    color: #0a0a0a;
}

.detail_option {
    margin-top: 8px 0 0 8px;
}

.detail_option h2 {
    color: #484848;
    font-weight: bold;
    font-size: 14px;
}

.required {
    color: red;
}

.minimum {
    margin-top: 6px;
    font-size: 10px;
}

.tab-content ul {
    margin-left: 14px;
}

.tab-content input[type=text], .tab-content textarea {
    border: 1px solid #d9d9d9;
    height: 24px;
    margin: 6px 0 6px 0;
}

.tab-content textarea {
    min-height: 90px;
}

a.button {
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(../images/btn_bg.png) repeat-x;
    color: #ffffff;
    padding: 6px 30px 6px 30px;
    text-align: center;
    border: none;
}

.tags {
    border-radius: 8px;
    min-height: 24px;
}

/*-------------------------*/
/*--------- Footer --------*/
/*-------------------------*/
.footer_bg {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: url(../images/footer_bg.png) repeat-x;
}

.footer {
    width: 821px;
    height: 50px;
    position: relative;
    margin: 0px auto;
    padding-top: 17px;
    color: #ffffff;
    font-size: 14px;
}

.footer .foot_menu .delim_footer {
    padding: 0 10px 0 10px;
}

.footer .foot_menu a {
    color: #ffffff;
}
